onnx
onnxscript
onnxruntime
torch
torchvision
pytorch_lightning
tensorboard
tensorboardX
matplotlib
brevitas 
requests
pandas
spacepy
tf-keras
git+https://github.com/fastmachinelearning/hls4ml@main
netron